/* teamsComponent's private CSS styles */
.teams {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 10px;
    width: 100em;
  }
  
  .teams li {
    display: flex;
  }
  
  .teams button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    padding: 0;
    display: flex;
    align-items: stretch;
    height: 2.5em;
  }
  
  .teams button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .teams button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .teams button.selected {
    background-color: black;
    color: white;
  }
  
  .teams button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .teams button.selected:active {
    background-color: black;
    color: white;
  }
  
  .teams .badge {
    display: inline-block;
    font-size: small;
    color: white;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
  }
  
  .teams .name {
    align-self: center;
  }